## Automating basic file cleaning steps

### Process to clean dataset 
1. Remove formula from the dataset. 
2. Unmerge the merged cells and repeat the cell value in row and column headers (if required) not in data matrix. 
3. Keep heading/variable name in the first row. 
4. Replace blank cells with NA. 
5. Remove special characters from Data points of data matrix to make it machine readable and need to write a note 
(combination of row and column variable name) for removed special character in metadata note. 
6. For each special character removed from any cell in data matrix, give proper referencing to that cell by mentioning 
the row and column (e.g. mentioning the row name as well as variable name/column header) in the metadata file. This 
will help in identifying the notes written for each of the special characters removed with the particular cells during later 
checking or reviewing of the dataset. 
7. Save as CSV file. 
8. There should be no space or special character in file name (except “_", “-", “."). 
9. File Name, Dataset Title and Dataset Note should come in metadata file. 
10. Split sheets (in workbook) as a separate file with sheet names. 
Other Things to take care 
1. Change format of Data in Data Matrix to Number (remove “ , “ comma from numbers, if any). 
2. Select and delete all blank rows and columns other than the Data Matrix rows and columns.
3. Check Row/column Header for split line (alt+enter which creates space and show “ “ in notepad) by seeing in the 
formula bar in expanded state. Entire row or column header should be shown as a running line in the formula bar 
without showing a new line. 
4. While replacing blank cells with NA, select only the data matrix. 
5. Remove “ , “ comma or if required Replace “ , “ comma with “ ; “ semi-colon. 
6. Variable Name should not be duplicate i.e. each variable name (column header) should be unique. 
7. While concatenating; use the “ – “ (space hyphen space) format to concatenate between text strings. 
8. Time Period of Dataset: 

a. Please mention the year of the dataset at the end of the title of the dataset (say for dataset named XYZ) e.g.XYZ - 2015 ( - YYYY) in case of Calendar Year or XYZ - 2015-16 ( - YYYY-YY) in case of Financial Year. It will make dataset unique and avoid the conflict of dataset name when the same dataset for next year or time period is 
added in data.gov.in. If the dataset mentions a date e.g. 31st December or 31st March, mention it in the Note of 
the dataset. 

b. If the dataset covers a period of time say 2001 to 2015 or 2000-01 to 2014-15, mention time period at the end 
of the title of the dataset e.g. XYZ from 2001 to 2015 (from YYYY to YYYY) in case of Calendar Years or XYZ from 
2000-01 to 2014-15 (from YYYY-YY to YYYY-YY) in case of Financial Years.

c. If the dataset is for/upto a specific or particular date say 20th October 2015 or 11th February 2016, mention the 
date directly at the end of the title of the dataset e.g. XYZ as on 30-10-2015 (as on DD-MM-YYYY) or XYZ as on 
11-02-2016. 

d. If the dataset covers a period of time say 2001 to 2015 or 2000-01 to 2014-15, but data for a particular year 
during this entire period belongs to another date different from the usual date say 31st December in case of 
Calendar Years or 31st March in case of Financial Years; mention the specific date in case of that particular year 
in the Note e.g. figures for the year 2015 are as on 30-11-2015 or figures for the year 2015-16 are as on 15-02-2016. Or 2016. Or within bracket with the year in the dataset itself. 
9. Please check the regular expression by opening the file in notepad++ (can be downloaded from net) [^A-Za-z0-9, "'./?\\;:&_ \r\n\t()@$#*^%+=<>\[\]!-] 


### Special Note

1.After preparing the dataset as per above guidelines, Please go through the dataset once again and compare with the 
original file for reviewing any deficiencies left and correct as required for enhanced accuracy. 

2. If you are facing any problem/ ambiguity in following the above mentioned guidelines, Please discuss.

In [1]:
import numpy as np
import pandas as pd

1. Remove formula from the dataset

In [2]:
df = pd.read_csv("autotest.csv")

In [3]:
df.head()

   a  b   c  d
0  1  3   2  4
1  2  4   3  6
2  3  5  55  8
3  3  6   5  9
4  4  3   5  7

In [4]:
print(df.d[:3])

0    4
1    6
2    8
Name: d, dtype: int64

2. Unmerge the merged cells and repeat the cell value in row and column headers (if required) not in data matrix.